@import "./style.functions.scss";

body {
    padding: 0.3em;
    height: 90vh;
    background: linear-gradient(#d7d2ee, #e2b0c0);
    h2 {
        color: #690f2b;
        font-size: x-large;
        @include elevationfn(2);
    }
    div#main-div-id {
        padding: 2em;
        font-size: 50px;
        border-radius: 10px;
        background-color: #d7d2ee;
    }
}
